{% extends 'home.html' %}

{% load crispy_forms_tags %}

{% block content %} 


{% if form.errors %}

  <div class="alert alert-danger" role="alert"> El formulario contiene errores, reviselos! </div>

{% endif %}

<h1 class="text-center">Editar Propietario</h1>

<form method="post">{% csrf_token %}

  
  {% if mensaje %}

    <div class="alert alert-success" role="alert">
         Propietario actualizado exitosamente!
    </div>

  {% endif %}

  <div style="width: 25%; margin: auto">



{{form.as_p}}



    {% comment %} <div class="form-group">
      <label>Nmbre</label>
      <input type="text" class="form-control" placeholder= 'Ingrese el nombre' name= {{ form.apellido }}
    </div>
    
    <div class="form-group">
      <label>Apellido</label>
      <input type="text" class="form-control" placeholder="Ingrese el apellido ..." name= {{ form.apellido }}
    </div>
    
    <div class="form-group">   
      <label for="exampleInputEmail1">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese el email" name= {{ form.email }}
    
    </div>
    
    <div class="form-group">
      <label>CBU</label>
      <input type="text" class="form-control" placeholder="Ingrese el CBU ..." name={{ form.CBU }}   
    </div>
            
    <div class="form-group">
      <label>Telefono</label>
      <input type="text" class="form-control" placeholder="Ingrese el telefono ..." name={{ form.telefono }}
    </div>
  {% endcomment %}
    <p></p>

    <div class="card-footer">
      <button type="submit" class="btn btn-success">Guardar</button>
      <a href="{% url 'propietarios' %}" class="btn btn-danger">Cancelar</a>
    </div> 


  </div>
</form>

{% endblock %}

