{% extends "list.html" %} 

{% block columns %}
<tr>
  <th scope="col">Nombre</th>
  <th scope="col">Apellido</th>
  <th scope="col">Telefono</th>
  <th scope="col">Email</th>
  <th scope="col">CBU</th>
  <th scope="col">Acciones</th>
</tr>
{% endblock columns %} 

{% block rows %} 

{% for inquilino in inquilinos %}

<tr>
  <td>{{inquilino.nombre }}</td>
  <td>{{inquilino.apellido}}</td>
  <td>{{inquilino.telefono}}</td>
  <td>{{inquilino.email}}</td>
  <td>{{inquilino.CBU}}</td>
  <td>
    <a href="#" class="btn btn-warning">
      <i class="fas fa-edit"></i>
    </a>
    <a href="#" class="btn btn-danger">
      <i class="fas fa-trash"></i>
    </a>
  </td>
</tr>

{% endfor %} 

{% endblock rows %}
