{% extends "list.html" %} 

{% block titulo %}

<div><h1>Listado de Inquilinos</h1></div>

{% endblock titulo %}

{% block columns %}
<tr>
  <th scope="col">Nombre</th>
  <th scope="col">Apellido</th>
  <th scope="col">Telefono</th>
  <th scope="col">Email</th>
  <th scope="col">CBU</th>
  <th scope="col">Acciones</th>
</tr>
{% endblock columns %} 

{% block rows %} 

{% if object_list %}

{% for inquilino in object_list %}

<tr>
  <td>{{inquilino.nombre }}</td>
  <td>{{inquilino.apellido}}</td>
  <td>{{inquilino.telefono}}</td>
  <td>{{inquilino.email}}</td>
  <td>{{inquilino.CBU}}</td>
  <td>
    <a href="{% url 'editarinquilino' inquilino.id %}" class="btn btn-warning">
      <i class="fas fa-edit"></i>
    </a>
    <a href={% url 'eliminarinquilino' inquilino.id %} class="btn btn-danger">
      <i class="fas fa-trash"></i>
    </a>
  </td>
</tr>

{% endfor %} 

{% else %}  <h2>No hay registros de Inquilinos</h2>

{% endif %}

{% endblock rows %}

{% block botones %}

<div class="card-footer">
  <a href='{% url 'registrarinquilinos' %}' class="btn btn-primary btn-flat"><i class="fas fa-plus"></i> Ingresar Nuevo</a>
  <a href='{% url 'home' %}' class="btn btn-danger btn-flat"><i class="fas fa-ban"></i> Cancelar</a>
</div>

{% endblock botones %}

