{% extends "list.html" %} 

{% block titulo %}

<div><h1>Listado de Casas</h1></div>

{% endblock titulo %}

{% block columns %}
<tr>
  <th scope="col">Casa</th>
  <th scope="col">Propietario</th>
  <th scope="col">Administrador</th>
  <th scope="col">Inquilino</th>
  <th scope="col">Estado</th>
  <th scope="col">Disponibilidad</th>
  <th scope="col">Acciones</th>
</tr>
{% endblock columns %} {% block rows %} {% for casa in object_list %}

<tr>
  <td>{{ casa.numero_casa }}</td>
  <td>{{casa.propietario}}</td>
  <td>{{casa.administrador}}</td>
  <td>{{casa.inquilino}}</td>
  <td>{{casa.estado}}</td>
  <td>{{casa.disponibilidad}}</td>
  <td>
    <a href="{% url 'editarcasa' casa.id %}" class="btn btn-warning">
      <i class="fas fa-edit"></i>
    </a>
    <!--<a href="#" class="btn btn-danger">
      <i class="fas fa-trash"></i>-->
    </a>
  </td>
</tr>

{% endfor %} {% endblock rows %}
