{% extends "list.html" %} 

{% block titulo %}

<div><h3>Listado de Propietarios</h3></div>

{% endblock titulo %}


{% block columns %}
<tr>
  <th scope="col">Nombre</th>
  <th scope="col">Apellido</th>
  <th scope="col">Telefono</th>
  <th scope="col">Email</th>
  <th scope="col">CBU</th>
  <th scope="col">Acciones</th>
</tr>
{% endblock columns %} 

{% block rows %} 

{% if object_list %}
{% for propietario in object_list %}

<tr>
  <td>{{propietario.nombre}}</td>
  <td>{{propietario.apellido}}</td>
  <td>{{propietario.telefono}}</td>
  <td>{{propietario.email}}</td>
  <td>{{propietario.CBU}}</td>
  
  <td>
    <a href="{% url 'editarpropietario' propietario.id %}" class="btn btn-warning">
      <i class="fas fa-edit"></i>
    </a>
    <a href="{% url 'eliminarpropietario' propietario.id %}" class="btn btn-danger">
      <i class="fas fa-trash"></i>
    </a>
  </td>
</tr>

{% endfor %} 

{% else %}  <h2>No hay registros de Propietarios</h2>

{% endif %}

{% endblock rows %}

{% block botones %}

<div class="card-footer">
  <a href='{% url 'registrarpropietario' %}' class="btn bg-gradient-success"><i class="fas fa-plus"></i> Ingresar Nuevo</a>
  <a href='{% url 'home' %}' class="btn bg-gradient-danger"><i class="fas fa-ban"></i> Cancelar</a>
  <a href='{% url 'reportepropietarios' %}' class="btn bg-gradient-primary"><i class="fas fa-file"></i> Exportar a XLS</a>
</div>

{% endblock botones %}




