{% extends 'home.html' %}

{% load crispy_forms_tags %}

{% block content %} 

{% if request.user.is_authenticated %}


{% if form.errors %}

<div class="alert alert-danger" role="alert">
  El formulario contiene errores, reviselos!
</div>

{% endif %}

<h1 class="text-center">Registro de Propietarios</h1>

<form method="post">{% csrf_token %}
 
  
  
  {% if mensaje %}

    <div class="alert alert-success" role="alert">
         Propietario registrado exitosamente!
    </div>

  {% endif %}

  <div style="width: 25%; margin: auto">
  
    
    <div class="form-group">
      <label>Nmbre</label>
      <input type="text" class="form-control" placeholder="Ingrese el nombre ..." name="{{ form.nombre.name }}">    
    </div>
    
    <div class="form-group">
      <label>Apellido</label>
      <input type="text" class="form-control" placeholder="Ingrese el apellido ..." name="{{ form.apellido.name }}">
    </div>
    
    <div class="form-group">   
      <label for="exampleInputEmail1">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese el email" name="{{ form.email.name }}">
    </div>
    
    <div class="form-group">
      <label>CBU</label>
      <input type="text" class="form-control" placeholder="Ingrese el CBU ..." name='{{ form.CBU.name }}'>   
    </div>
            
    <div class="form-group">
      <label>Telefono</label>
      <input type="text" class="form-control" placeholder="Ingrese el telefono ..." name='{{ form.telefono.name }}'>
    </div>
  
    <p></p>

    <div class="card-footer">
      <button type="submit" class="btn btn-success">Guardar</button>
      <a href="{% url 'propietarios' %}" class="btn btn-danger">Cancelar</a>
    </div>
 
   
  </div>

</form>


{% else %}

<div class="alert alert-warning"> <h4> Loguearse para continuar </h4> </div>

{% endif %}


{% endblock %}







