{% extends 'home.html' %}

{% load crispy_forms_tags %}

{% block content %} 

{% if request.user.is_authenticated %}


{% if form.errors %}

<div class="alert alert-danger" role="alert">
  El formulario contiene errores, reviselos!
</div>

{% endif %}

<h1 class="text-center">Registro de Inquilinos</h1>

<form action=" {% url 'guardar_inquilino' %}" method="POST">
  
    {% csrf_token %} 
  
  {% if mensaje %}

    <div class="alert alert-success" role="alert">
         Inquilino registrado exitosamente!
    </div>

  {% endif %}

  <div style="width: 50%; margin: auto">
    
    {{form | crispy}}

    <p></p>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'inquilinos' %}" class="btn btn-danger">Cancelar</a>
  </div>
</form>


{% else %}

<div class="alert alert-warning">Loguearse para continuar</div>

{% endif %}



{% endblock %}
