{% extends "home.html" %}





{% block content %}





{% if request.user.is_authenticated %}

<div class="card card-default">
  <div class="card-header">
    {% block titulo %}
    <h3 class="card-title"><i class="fas fa-search"></i>{{ object_list.nombre }}</h3> 
    {% endblock titulo %}
  </div>
    
  
      <div class="card-body">
       
        <table class="table">
            <thead class="table-dark">
                {% block columns %}
                {% endblock columns %}                         
            </thead>
        
            <tbody class="table-group-divider">
                {% block rows %}
                {% endblock rows %}
            </tbody>

         </table>   
        
      
      
      </div>

      


      {% block botones %}
       
      {% endblock botones %}  
    
    </div>
  

</div>

{% else %}

<div class="alert alert-warning">Loguearse para continuar</div>

{% endif %}

{% endblock %}

