{% extends "home.html" %}

{% block content %}

<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title"><i class="fas fa-search"></i>
      {{ titulo }}
    </h3> 
  </div>

      <div class="card-body">

        <table class="table">
            <thead>
                {% block columns %}
                {% endblock columns %}                         
            </thead>
        
            <tbody class="table-group-divider">
                {% block rows %}
                {% endblock rows %}
             </tbody>

        </table>
      </div>
      {% block botones %}
       
      {% endblock botones %}  
  </div>

</div>


{% endblock %}
